<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.preko.speedcarv2" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity
            android:name="com.preko.speedcarv2.ui.PagamentoActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity
            android:name="com.preko.speedcarv2.ui.RegInfoPessoalActivity"
            android:exported="false" />
        <activity
            android:name="com.preko.speedcarv2.ui.EditAccountActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.preko.speedcarv2.ui.CriarViagemActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.preko.speedcarv2.ui.DetalhesViagemActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.preko.speedcarv2.ui.EdtViagemActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.preko.speedcarv2.ui.ViagensActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.preko.speedcarv2.ui.ViagemRealizadaActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.preko.speedcarv2.ui.AccountActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.preko.speedcarv2.ui.HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.preko.speedcarv2.ui.SignInActivity"
            android:exported="false" />
        <activity
            android:name="com.preko.speedcarv2.ui.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.preko.speedcarv2.ui.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
    </application>

</manifest>